#container {
  width: 30%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 100px;
}

#head {
  text-align: center;
}

#name, #message {
  /* width: calc(100% - 22px);  */
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;

}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#messageWrapper {
  margin-top: 20px;
}

.message {
  margin-bottom: 10px;
}

.delete {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
