#container {
  width: 30%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(to bottom, lightpink, lightgrey);
  margin-top: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#head {
  text-align: center;
}

#name, #message {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  width: 25%;
}

#messageWrapper {
  margin-top: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.delete {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
