/* App.css */
#container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(to bottom, lightpink, lightgrey);
  margin-top: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#head {
  text-align: center;
}

#name, #message {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 10px;
  cursor: pointer;
  width: 15%;
  margin: auto;
  border-radius: 10px;
  background-color: aquamarine;
 
}

#messageWrapper {
  margin-top: 20px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
}

.msg-left {
  background-color: #ccdde5;
  align-self: flex-start;
  border-radius: 5px;
}

.msg-right {
  background-color: #d9fdd3;
  align-self: flex-end;
  border-radius: 5px;
}

.delete {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 1100px) {
  #container {
    width: 70%;
  }

  button {
    width: 35%;
  }
}

@media (max-width: 900px) {
  #container {
    width: 70%;
  }

  button {
    width: 40%;
  }
}

@media (max-width: 650px) {
  #container {
    width: 70%;
  }

  button {
    width: 50%;
  }
}

@media (max-width: 400px) {
  #container {
    width: 70%;
  }
  
  #name, #message {
    width: 90%;
  }
  
  button {
    width: 60%;
  }
}


/* Login-css */


body{
  background-color: rgb(217, 237, 230);
}
#login-box {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
 width: 30%;
 margin: 200px auto;
}

#login-box h1 {
  margin-bottom: 20px;
}

#login-box input {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-box button {
  width: 20%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-box button:hover {
  background-color: #45a049;
}
